body{background: url(https://cdn.hipwallpaper.com/i/2/44/6QZrW3.jpg);
font-family: 'Libre Barcode 39 Text', cursive;
color: white;
text-align: center;
}

img{border: dotted 8px;
width:200px;}
h1{font-size:40px;

}

h2{font-size:40px;}

h3{font-size:40px;}

